:root {
  --p-color: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
  --white-color: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--p-color);
  background-color: #e5e5e5;
}
.list {
  list-style: none;
}
/* header */
.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.logo-header {
  color: #000000;
}

.logo-color {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--title-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contacts .link {
  color: var(--title-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* герой */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--white-color);
}
/* наши преимущества */
.benefits-list .title {
  color: var(--title-color);
}
/* чем мы занимаемся */
.section-title {
  color: var(--title-color);
}
/* наша команда */
.member-list .member {
  color: var(--title-color);
}
/* подвал */
.logo-footer {
  color: var(--white-color);
}
.address {
  color: var(--white-color);
}
.address .address-link {
  color: var(--white-color);
}

/* portfolio */
.example-list .example-title {
  color: var(--title-color);
}
.button {
  font-family: inherit;
}
.btn-s {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.btn-p {
  color: var(--title-color);
  background-color: #eeeeee;
}
.btn-p:hover,
.btn-p:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
